<header>
    <nav>
        <ul>
            <li><a href="./home.handlebars">Home</a></li>
            <li><a href="./about.handlebars">About</a></li>
            <li><a href="./post.handlebars">Posts</a></li>
            <li><a href="./contact.handlebars">Contact</a></li>
        </ul>
    </nav>
</header>
